body {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}
main {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* sidebar */
.sidebar-container {
  background-color: darkgreen;
  height: 100%;
  width: max(30%, 450px);
  position: relative;
}

.logo-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: absolute;
  top: 25%;
  width: 100%;
  
  img {
    width: 90px;
    height: auto;
  }
  h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5rem;
  }
}

/* main content */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9fafb;
  width: calc(100% - max(30%, 450px));
}

.top-text {
  padding: 30px 40px;
  max-width: 65ch;

  p + p {
    margin-top: 20px;
  }
}

.top-text p,
legend {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4;
}

/* form */
fieldset {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 5px 20px;
  padding: 20px 40px 40px;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
legend {
  margin-bottom: 20px;
}

.form-fields{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 100px;
}
.text-field {
  display: flex;
  flex-direction: column;

  label {
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}