@font-face {
  font-family: 'Norse Bold';
  src: url('../fonts/norse-bold-webfont.woff2') format('woff2'),
       url('../fonts/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --white: #fff;
  --accent: #596d48;
  --error: #c64646;
  --bg: #f9fafb;
  --label: #303030;
  --border: #e5e7eb;
  --border-focus: #476fdf;
  --shadow-dark: rgba(0, 0, 0, 0.5);
  --shadow-light: rgba(0, 0, 0, 0.25);
}

body {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

/* sidebar */
.sidebar-container {
  position: fixed;
  background: var(--accent);
  background: no-repeat center / cover url("../img/sidebar-bg.jpg");
  height: 100vh;
  width: max(30%, 450px);
  display: flex;
  justify-content: center;
}

.logo-overlay {
  background-color: var(--shadow-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: absolute;
  top: 25%;
  width: 100%;
  
  img {
    width: 90px;
    height: auto;
  }
  h1 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 4rem;
    font-family: "Norse Bold", fantasy;
  }
}

.photo-credit {
  margin: auto 0 10px; /* bottom align */
  color: var(--white);
  font-size: 0.8rem;

  a {
    text-decoration: underline;
  }
}

/* main content */
.main-container {
  margin-left: max(30%, 450px);
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  width: calc(100% - max(30%, 450px));
  padding: 40px;
}

.top-text {
  max-width: 65ch;

  p + p {
    margin-top: 20px;
  }
}

.top-text p,
legend {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4;
}

/* form */
fieldset {
  background-color: var(--white);
  box-shadow: var(--shadow-light) 0 5px 20px;
  padding: 50px 40px;
  margin: 40px -40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
legend {
  margin-bottom: 20px;
}

.form-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 100px;
}
.text-field {
  display: flex;
  flex-direction: column;

  label {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--label);
    margin-bottom: 5px;
  }
  input {
    outline: 2px solid var(--border);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.9rem;

    &:focus {
      outline-color: var(--border-focus);
      box-shadow: var(--shadow-light) 0 5px 10px;
    }
    &:invalid {
      outline-color: var(--error);
    }
  }
  .error-msg {
    color: var(--error);
    font-size: 0.8rem;
    margin-top: 5px;
    visibility: hidden;
  }
}

button[type="submit"] {
  background-color: var(--accent);
  color: var(--white);
  font-weight: 600;
  padding: 10px 50px;
  margin-bottom: 40px;
}

.login-link {
  font-weight: 600;
  color: var(--accent);

  &:hover {
    text-decoration: underline;
  }
}